@model StokTakip.Models.Urunler

@{
    ViewBag.Title = "ÜRÜN DETAYLARI";
}

<div class="container mt-4">
    <h4 class="mb-3">Ürün Detayları</h4>
    <hr />

    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4 fw-bold">@Html.DisplayNameFor(model => model.UrunAdi)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.UrunAdi)</dd>

                <dt class="col-sm-4 fw-bold">@Html.DisplayNameFor(model => model.UrunKodu)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.UrunKodu)</dd>

                <dt class="col-sm-4 fw-bold">@Html.DisplayNameFor(model => model.Fiyat)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Fiyat)</dd>

                <dt class="col-sm-4 fw-bold">@Html.DisplayNameFor(model => model.Stok)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Stok)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-3 d-flex justify-content-between">
        <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">Düzenle</a>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Listeye Dön</a>
    </div>
</div>
